:root {
  --active-color: #5238fd;
  --disabled-color: #4737ad;
  --disabled-text-color: rgba(255, 255, 255, 0.5);
  --text-color: #000;
  --btn-color: #fff;
  font-size: 16px;
  user-select: none;
}

.text-icon {
  height: 1em;
  width: 1em;
  font-size: 1em;
  fill: var(--btn-color);
  margin: 0 0.25em;
}

.btn {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 8px 18px;
  background: var(--active-color);
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn--disabled {
  background: var(--disabled-color);
  cursor: not-allowed;
  color: var(--disabled-text-color);
}

.btn--disabled .text-icon {
  fill: var(--disabled-text-color)
}

.btn~.btn {
  margin-left: 0.5em;
}

.btn-normal {
  background-color: white;
  color: #666;
  border: 1px solid #bbb;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='64px' width='64px'%3E %3Crect x='0' y='0' height='32' width='32' fill='%23ccc' /%3E %3Crect x='32' y='0' height='32' width='32' fill='%23f0f0f0' /%3E %3Crect x='32' y='32' height='32' width='32' fill='%23ccc' /%3E %3Crect x='0' y='32' height='32' width='32' fill='%23f0f0f0' /%3E %3C/svg%3E") center center;
}

#app {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.view-outer {
  position: relative;
  height: calc(100% - 80px);
  overflow: hidden auto;
}

.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 90%);
  overflow-y: auto;
  z-index: 999;
}

.modal-main {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  padding: 20px 0;
  height: 100vh;
  /* height: 100%; */
  box-sizing: border-box;
  /* display: flex; */
  /* align-items: center; */
  overflow: hidden;
  /* flex-direction: column; */
}

.modal-main.stitch-modal {
  min-height: 400px;
}

.modal__head {
  display: flex;
  justify-content: center;
  flex: 40px 0 0;
  height: 40px;
  align-items: center;
  color: #ffffff;
}

.modal__body {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: calc(100vh - 160px);
}

.modal__foot {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
}

.modal-tip {
  padding: 4px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #cecece;
}

.modal-tip .text-icon {
  font-size: 1.25em;
  fill: #ffe900;
}

.btn-wraps {
  display: flex;
}